<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>hulk@4bejC3UratNYGoRagiw8Lj9xJrx8bq6nnN</string>
	<key>meta</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
		<key>key</key>
		<dict>
			<key>algorithm</key>
			<string>RSA</string>
			<key>data</key>
			<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBUyaQPTvXgTfYC7bSAIhC3efc
QT7HEX9PzJXQs9XeuxY4iBBBnrUPkJhOvwHrnAErBnM6tm9I45htcTeVOsi/qRbs
XpQ6u7JuBayxgVp2vU0xUWDKLTlE9VT3F/OgT1xGuXnMO5TJnt/HjlbASToGUxBa
rMWCrjQJX2UitMaU+wIDAQAB
-----END PUBLIC KEY-----</string>
		</dict>
		<key>seed</key>
		<string>hulk</string>
		<key>fingerprint</key>
		<string>SdxF0IU8Kq9sfD/x46uRC4W8VJ4WmVF8j0Je6ZMIURLoFju/SFEtSC41ibU7R6cgINfUpZ4QCfVpo0+rHwlXBNeyZS5vqf1+fvMuISucRWGjmFmusTAqtqN0RCDvhdkeaxuQyMJKAGlzkcm5CXeqWyijDOQOZyf2pGJlfs18e2c=</string>
	</dict>
	<key>history</key>
	<array>
		<dict>
			<key>events</key>
			<array>
				<string>{&quot;operation&quot;:{&quot;operate&quot;:&quot;register&quot;,&quot;time&quot;:1539094317}}</string>
			</array>
			<key>merkle</key>
			<string>8RJ5g73hDCszyTlfbTKH7rD+YTBmKr1ZNHQ3b2IpnMA=</string>
			<key>signature</key>
			<string>uFbsCJuLHHtt1M0qPwHq/bgZzKoebguiHA8PHTrF9RceccnzZE/jmwTScD0VKVF2EAlXQ+eDyNpPK70QuF3tPwPdaJk8gsJOAxg/IO11y5naz7KrTGCjhplTTXAXmllpwBgOLWHXbsRjKhtprp2iGcivGhSeVKNnjkYkHlMid3o=</string>
		</dict>
	</array>
	<key>keys</key>
	<dict>
		<key>publicKey</key>
		<dict>
			<key>algorithm</key>
			<string>RSA</string>
			<key>data</key>
			<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBUyaQPTvXgTfYC7bSAIhC3efc
QT7HEX9PzJXQs9XeuxY4iBBBnrUPkJhOvwHrnAErBnM6tm9I45htcTeVOsi/qRbs
XpQ6u7JuBayxgVp2vU0xUWDKLTlE9VT3F/OgT1xGuXnMO5TJnt/HjlbASToGUxBa
rMWCrjQJX2UitMaU+wIDAQAB
-----END PUBLIC KEY-----</string>
		</dict>
		<key>privateKey</key>
		<dict>
			<key>algorithm</key>
			<string>RSA</string>
			<key>data</key>
			<string>-----BEGIN RSA PRIVATE KEY-----
MIICXQIBAAKBgQDBUyaQPTvXgTfYC7bSAIhC3efcQT7HEX9PzJXQs9XeuxY4iBBB
nrUPkJhOvwHrnAErBnM6tm9I45htcTeVOsi/qRbsXpQ6u7JuBayxgVp2vU0xUWDK
LTlE9VT3F/OgT1xGuXnMO5TJnt/HjlbASToGUxBarMWCrjQJX2UitMaU+wIDAQAB
AoGAQX7lMrq8Gl+5xqT5VB5AC79YPQORvCmOYz+hhepXS7VAaviV4VVebB6FqzAE
+4iH0MbHpR2HiD8rNfDEbvdSaR14Tiqzou62R08XXlHH4M4JK+3DEmE7kegx5w/u
+2VH5s3pLLPiX4YjkenFUo/AyOxnvHOrDuTl2wfusc4x32kCQQDpy9sgRvUlPXpi
BVsSYqwWaqBxFDSRirLlWN0vIftXRobSQxgFrr0g14IbQmjU1EdPM4HHRFodI/KJ
V30vmPzlAkEA069WENGAdKvtJ7jBMwV1m5jyjB5qsKfP+DZQJfkwPJHPp8DBvAmX
S7bkYuN/L6PlfQj8Us2D1qM5WQl21i4MXwJBAMvcwDQC65wPYXm7ZdBATgI187Tm
g3gtUxT9SdDhdsKBcupBKt85oRzUDlUqsTJz78I2DYHuLg2e3Mu5iCVK56kCQDwZ
yPbHdJArjA6+DuRchXKi7yJHNIVpb8uKKCFP6ZkY0PtQ5/BqTLFrgNZuvtqYzvw8
A9/Ch8710r9rx3ix5EMCQQCIyMaD4wJldhO5j1hUyTC6LstppbFTgQrvYKnpq12/
Duor6RvudK3j1QhzBGiv/3YpHnHMXP+tFkUA2a7e/6fo
-----END RSA PRIVATE KEY-----</string>
		</dict>
	</dict>
</dict>
</plist>
