<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>moki@4LrJHfGgDD6Ui3rWbPtftFabmN8damzRsi</string>
	<key>meta</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
		<key>key</key>
		<dict>
			<key>algorithm</key>
			<string>RSA</string>
			<key>data</key>
			<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC73bLHtF+OGvRP4V+FR3U+4NAg
hzvLf9B/Ya1pp91fVzWAmU7vZ2+F6hKqfhxwjfanTJtidGluvRcCZJ3X+x0aXvln
UqlVd1lxKDGC40tVgNCHdncUodqUbB0uSjVk7G6MQ6kUshQmfEyYIBgRXkDs4UjN
zHtczp7t/PZqGhZd2QIDAQAB
-----END PUBLIC KEY-----</string>
		</dict>
		<key>seed</key>
		<string>moki</string>
		<key>fingerprint</key>
		<string>PRzdNQrZFZwoK4CDj7qAVXgEKmnipRVM7pel01IJC1ZfktgtIJZo0NkNjBTGO7KHkLSMO/MLqQonLLO2XQXCzQGB/oz1dD1noOxVwY2aQBp2pq26a3pVWnS4VoweHzTDBcJyE6W5Mn1WblarfokSHold8lL5ASZcwTuvu3JdPlg=</string>
	</dict>
	<key>history</key>
	<array>
		<dict>
			<key>events</key>
			<array>
				<string>{&quot;operation&quot;:{&quot;operate&quot;:&quot;register&quot;,&quot;time&quot;:1538927542}}</string>
			</array>
			<key>merkle</key>
			<string>TpLBrxN1E51Ux+wiefMUSPj25qcM7+9G3fZ+IijvkmM=</string>
			<key>signature</key>
			<string>G62I9pSNZrBF0XZO3fqzdssnX3Hk+FZ+pXnAZrqsnH1RJx/nd+C9BllN7tWF23eKnE/tj0Vozt//dKS0vBHmiKou+BE/YYCq2k869sDI4pgPcW7f2QlkLnwypnDpj9Ih7ZzSWb+UfBkGoynPaACLXW+NWV1QNb1N5rzmzoIjgu0=</string>
		</dict>
	</array>
	<key>keys</key>
	<dict>
		<key>publicKey</key>
		<dict>
			<key>algorithm</key>
			<string>RSA</string>
			<key>data</key>
			<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC73bLHtF+OGvRP4V+FR3U+4NAg
hzvLf9B/Ya1pp91fVzWAmU7vZ2+F6hKqfhxwjfanTJtidGluvRcCZJ3X+x0aXvln
UqlVd1lxKDGC40tVgNCHdncUodqUbB0uSjVk7G6MQ6kUshQmfEyYIBgRXkDs4UjN
zHtczp7t/PZqGhZd2QIDAQAB
-----END PUBLIC KEY-----</string>
		</dict>
		<key>privateKey</key>
		<dict>
			<key>algorithm</key>
			<string>RSA</string>
			<key>data</key>
			<string>-----BEGIN RSA PRIVATE KEY-----
MIICXQIBAAKBgQC73bLHtF+OGvRP4V+FR3U+4NAghzvLf9B/Ya1pp91fVzWAmU7v
Z2+F6hKqfhxwjfanTJtidGluvRcCZJ3X+x0aXvlnUqlVd1lxKDGC40tVgNCHdncU
odqUbB0uSjVk7G6MQ6kUshQmfEyYIBgRXkDs4UjNzHtczp7t/PZqGhZd2QIDAQAB
AoGAc5gdOj4lEaZKL6CICtUGMnNX/LvZMgTqQIbUkg9E6jYZ6I/sfuhROb/mTluc
mjDv1M8RSQpCGW5l6wYIDW4o4BLYOzV0/rcYWGLD8xyqhOe8Klg6/cKhhlYDrCGX
H7w8xKyKY1tziFJmWEAFKKXSroE7+5qVC4xF9LWZvOS9NwUCQQDyV+b7i4mbsUxm
JsP+Dz8dBa4Dd3Ggx3aQDt0OQLzIvnjc9QepSk6scWnGOlKqOJCKVSIIA68OePi6
t+/jDcdPAkEAxnPk2bb7ilorU/BwSRDiAeSZHKBPFjtt50RmCUsvBZ/1LKWKAQTI
fl63V1zA5mE/ypXPhKYpOA3T63B0kxW+VwJBAJUaZDEsHxQ9t6W6AChWNRykG/Zi
DPVBA7+KhZN5XS2dkztPPtF3uIP8m3ms9KNqffO+gVuw+InNACvRc7SdC50CQQCV
vVjOVd1StVrACUoQN6bw2rYU/XjvQ4RX3ipHlO00B1ANkhKhViSaBYm9Z4U9z988
UvG0G1Q6sWRX4BB18xAdAkAYaOZJDV+HY+ORaPgQJORr/M2y/wQ81oItqfCUG9P7
5MxXMH1H4foUHsSkyrdpVKjJTfFcGbRWPeHVH2iTbq1c
-----END RSA PRIVATE KEY-----</string>
		</dict>
	</dict>
	<key>profile</key>
	<dict>
		<key>names</key>
		<array>
			<string>齐天大圣</string>
			<string>Monkey King</string>
		</array>
	</dict>
</dict>
</plist>
