<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>moki@4HaXeu62Q41eemWcL1X5m56Y5JwKK2JJUU</string>
	<key>meta</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
		<key>key</key>
		<dict>
			<key>algorithm</key>
			<string>RSA</string>
			<key>data</key>
			<string>-----BEGIN PUBLIC KEY-----
MIGJAoGBAJuAkuTQGsoAyL1vYmYwjLbvaRhFdKFMfJmvAu7YmTcC1qJG/KHjsZDE
eWGKg1gBBhTfBeWipFtrE33KnIVNDssGoqjM/mWNClnV+70CoPOhA4aWQccyayZy
Yjp+P4pFV/sEvy5nr4c1FR5fxQNL35VPE/5eQC6rTyKS/XMYtD1PAgMBAAE=
-----END PUBLIC KEY-----</string>
		</dict>
		<key>seed</key>
		<string>moki</string>
		<key>fingerprint</key>
		<string>aC/FElJG4TYtyB18qYgG5bdkSGIGqpjN6by8eR9/fJALXWt+If6a8IYAChsbnjXObVJ0pe9aSZiorgVIPYZsiNRjD+AJD4oEr8qu+4L/QN/vuL392qJF2wfR5WEl4YvMqhySZfFps7FBu8ZKol/K6WIa+HdKQr5KI1iMAx+yvZQ=</string>
	</dict>
	<key>history</key>
	<array>
		<dict>
			<key>events</key>
			<array>
				<string>{&quot;operation&quot;:{&quot;operate&quot;:&quot;register&quot;,&quot;time&quot;:1538927542}}</string>
			</array>
			<key>merkle</key>
			<string>TpLBrxN1E51Ux+wiefMUSPj25qcM7+9G3fZ+IijvkmM=</string>
			<key>signature</key>
			<string>G62I9pSNZrBF0XZO3fqzdssnX3Hk+FZ+pXnAZrqsnH1RJx/nd+C9BllN7tWF23eKnE/tj0Vozt//dKS0vBHmiKou+BE/YYCq2k869sDI4pgPcW7f2QlkLnwypnDpj9Ih7ZzSWb+UfBkGoynPaACLXW+NWV1QNb1N5rzmzoIjgu0=</string>
		</dict>
	</array>
	<key>privateKey</key>
	<dict>
		<key>algorithm</key>
		<string>RSA</string>
		<key>data</key>
		<string>-----BEGIN RSA PRIVATE KEY-----
MIICXAIBAAKBgQCbgJLk0BrKAMi9b2JmMIy272kYRXShTHyZrwLu2Jk3AtaiRvyh
47GQxHlhioNYAQYU3wXloqRbaxN9ypyFTQ7LBqKozP5ljQpZ1fu9AqDzoQOGlkHH
MmsmcmI6fj+KRVf7BL8uZ6+HNRUeX8UDS9+VTxP+XkAuq08ikv1zGLQ9TwIDAQAB
AoGAAklybqhT5uJkL3/ZU3//3+ZGwoQ1VRKnMFdrkL1wgQ1Bk2o2FNDVb6FPYGM2
VyvA6zOo76jcgCr6M8JlADCiOL6D5oqqTu66s+qHyqecoTUCgNQQ7dQxtGW+HbSA
ANCQLHgM9W0mGS+xkWScK+tArgt7v0ID/rFKuw/63n63/GkCQQDTE/mbLenG11rP
loFFglbLmCaQcgiTvzucndoEE0lIyvg3rgWjdql5Ztsu/rUZ0YztEHx9EiL9xQsj
XRArlSSTAkEAvJizK0bJRm3KN1xXSUEUnA/4dLaCJz2AVQN5C+XQr8r/pdyxJsek
trcNKYQHQlEPGs7ETEcvIXt/kayCcKhV1QJANVAhRnGlT2TLeg0wn4bZN1k5vFgh
FHhDrT4td8QLSYiCg0XABNaO3av+BnOs+FV2O9ZjKw/uqJwhQRBbajakYwJBALZV
p3tin3vA761gUF9ZVVSguCQWw3SuqCEJD4FqOb2LtGgmGvuULvIbvdTyeZYrCkBv
wSbB95YWcTpkn2PNy9UCQCPu9P/aBbc6HIaTaV3lC08CooXR2EZc+Gdk1Z4yVuEn
Qrd52RezZ5e1OJfyYp4P1J6JHegllcA89iKOwy6hLws=
-----END RSA PRIVATE KEY-----</string>
	</dict>
	<key>profile</key>
	<dict>
		<key>names</key>
		<array>
			<string>齐天大圣</string>
			<string>Monkey King</string>
		</array>
	</dict>
</dict>
</plist>
